#filters-container {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;

  #filter-ingredient {
    background-color: $ingredientColor;
    .filter-color {
      background-color: $ingredientColor;
    }
  }

  #filter-device {
    background-color: $deviceColor;
    .filter-color {
      background-color: $deviceColor;
    }
  }

  #filter-ustensil {
    background-color: $ustensilColor;
    .filter-color {
      background-color: $ustensilColor;
    }
  }

  .filter-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    height: 69px;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 170px;
    transition: width 400ms;

    .filter-list-container {
      display: none;
      flex-basis: 100%;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 6px;
      padding-top: 16px;
      z-index: 40;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      grid-template-columns: repeat(3, 1fr);
      max-height: 400px;
      overflow-y: auto;
      overflow-x: hidden;

      .filter-list-element {
        margin-bottom: 10px;
        color: #fff;
        font-size: 18px;
        line-height: 21.6px;
        padding-left: 4px;
      }
    }

    &:focus-within {
      width: 667px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      .filter-list-container {
        display: grid;
      }
      .filter-button::placeholder {
        color: #ffffff80;
      }
    }

    .arrow-down {
      display: flex;
      flex: 1;
      color: #fff;
      align-items: center;
      justify-content: center;
    }

    .filter-button {
      height: 69px;
      border: none;
      width: calc(100% - 52px);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #fff;
      padding-left: 19px;
      font-family: "Lato";
      font-weight: 700;
      font-size: 18px;
      line-height: 21.6px;
      transition: width 400ms;

      &::placeholder {
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 816px) {
  #filters-container {
    .filter-wrapper {
      width: 100%;
      margin-right: 0px;
      &:focus-within {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #filters-container {
    .filter-wrapper {
      height: 59px;

      .filter-button {
        height: 59px;
        font-size: 14px;
      }

      .filter-list-container {
        grid-template-columns: repeat(2, 1fr);
        max-height: 300px;
        .filter-list-element {
          font-size: 14px;
        }
      }
    }
  }
}
