html, body {
  font-family: "Lato", sans-serif;
}

body {
  max-width: 1240px;
  margin: 0 auto;
}

h3 {
  margin-block-start: unset;
  margin-block-end: unset;
}

@media screen and (max-width: 1240px) {
  body {
    margin: 0 50px;
  }
}


@media screen and (max-width: 768px) {
  body {
    margin: 0 25px;
  }
}


@media screen and (max-width: 500px) {
  body {
    margin: 0 15px;
  }
}
